@import 'base/variables';
@import 'base/mixins';
@import 'block/promo';
@import 'block/header';
@import 'block/benefits';
@import 'block/buttons';
@import 'block/consultation';
@import 'block/titles';
@import 'block/forms';

* {
    font-family: "MuseoModern", sans-serif;
  }

.container {
    max-width: 950px;
    margin: 0 auto;
}










