

.benefits {
    min-height: 473px;
    padding: 73px 0px 82px 0px;
    background-color: #F6F6F6;

    &__items {
        display: flex;
        margin-top: 60px;
        justify-content: space-between;
    }
    &__item {
        width: 270px;
        min-height: 240px;
        align-items: center;
        
        img {
            width: 70px;
            height: 70px;
            display: block;
            margin: 0 auto;
        }
    } 
    &__header {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
        margin-top: 35px;
    }
    &__subheader{
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: #0D0D0D;
        margin-top: 20px;
        a {
            color: red;
        }
    }
}