

.footer {
    position: relative;
    height: 630px;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: $buttons_color;
        padding: 50px 68px 60px 68px;
        display: flex;
        flex-direction: column;
    }
    &__addr {
        margin-bottom: 36px;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    &__phone {
        margin-bottom: 38px;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 53px;
            height: 52px;
            background: rgba(0, 0, 0, 0.0001);
            border-radius: 50%;
            border: 2px solid #FFFFFF;
            margin: 0 15px;
            img {
                height: 27px;
            }
        }
    }
}